/**
 * All of the CSS for your admin-specific functionality should be included or imported in 
 * the 'development/admin/scss/style.scss' file.
 * The file is enqueued from src/admin/class-assets.php.
 */
 // @TODO This import is an test import. Remove for production
@import './components/testcomponent.scss';

@import '../../../node_modules/@fullcalendar/core/main.css';
@import '../../../node_modules/@fullcalendar/timeline/main.css';
@import '../../../node_modules/@fullcalendar/resource-timeline/main.css';
@import './components/roomform.scss';
@import './components/reservationform.scss';

// @TODO This is a red color variable example. Remove for production 
$color: white;

// @TODO This is an example how to use variables. Remove for production.
body {
    background-color: $color;
}

