/**
 * All of the CSS for your admin-specific functionality should be included or imported in 
 * the 'development/admin/scss/style.scss' file.
 * The file is enqueued from src/admin/class-assets.php.
 */
@import url(../../../node_modules/@fullcalendar/core/main.css);
@import url(../../../node_modules/@fullcalendar/timeline/main.css);
@import url(../../../node_modules/@fullcalendar/resource-timeline/main.css);
body {
  background-color: aqua; }

.joeee-booking-room-bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none; }

.joeee-booking-room-modal-form-content {
  width: 500px;
  max-width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden; }

.joeee-booking-room-form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative; }

.joeee-booking-room-form-control input {
  width: 100%;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: block; }

.joeee-booking-room-form-control i {
  visibility: hidden;
  position: absolute;
  top: 7px;
  right: 10px; }

.joeee-booking-room-form-control.error i.dashicons-warning {
  color: #e74c3c;
  visibility: visible; }

.joeee-booking-room-form-control.success i.dashicons-yes-alt {
  color: #2ecc71;
  visibility: visible; }

.joeee-booking-room-form-control small {
  color: #e74c3c;
  position: relative;
  float: left;
  bottom: 0;
  left: 5px;
  visibility: hidden; }

.joeee-booking-room-form-control.error small {
  visibility: visible; }

.joeee-booking-button {
  display: block;
  margin: 15px; }

.joeee-booking-room-close {
  position: absolute;
  top: 7px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer; }

small {
  margin: 0px; }

#joeee-booking-room-submit {
  background-color: #2ecc71;
  color: white;
  cursor: pointer; }
  #joeee-booking-room-submit:hover {
    background: #43A047;
    transition: background-color 0.3s ease-in-out; }

.joeee-booking-room-cancel-btn {
  background-color: #e74c3c;
  color: white;
  cursor: pointer; }
  .joeee-booking-room-cancel-btn:hover {
    background: darkred;
    transition: background-color 0.3s ease-in-out; }

.joeee-booking-room-delete-btn {
  visibility: hidden;
  background-color: #e74c3c;
  color: white;
  cursor: pointer; }
  .joeee-booking-room-delete-btn:hover {
    background: darkred;
    transition: background-color 0.3s ease-in-out; }

.joeee-booking-room-success {
  visibility: hidden;
  font-size: 14px;
  font-weight: bold;
  color: #2ecc71; }

.joeee-booking-room-success.success {
  visibility: visible; }

.joeee-booking-room-error {
  visibility: hidden;
  font-size: 14px;
  font-weight: bold;
  color: #e74c3c; }

.joeee-booking-room-error.error {
  visibility: visible; }

body {
  background-color: white; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIiwiY29tcG9uZW50cy90ZXN0Y29tcG9uZW50LnNjc3MiLCJjb21wb25lbnRzL3Jvb21mb3JtLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLyoqXG4gKiBBbGwgb2YgdGhlIENTUyBmb3IgeW91ciBhZG1pbi1zcGVjaWZpYyBmdW5jdGlvbmFsaXR5IHNob3VsZCBiZSBpbmNsdWRlZCBvciBpbXBvcnRlZCBpbiBcbiAqIHRoZSAnZGV2ZWxvcG1lbnQvYWRtaW4vc2Nzcy9zdHlsZS5zY3NzJyBmaWxlLlxuICogVGhlIGZpbGUgaXMgZW5xdWV1ZWQgZnJvbSBzcmMvYWRtaW4vY2xhc3MtYXNzZXRzLnBocC5cbiAqL1xuIC8vIEBUT0RPIFRoaXMgaW1wb3J0IGlzIGFuIHRlc3QgaW1wb3J0LiBSZW1vdmUgZm9yIHByb2R1Y3Rpb25cbkBpbXBvcnQgJy4vY29tcG9uZW50cy90ZXN0Y29tcG9uZW50LnNjc3MnO1xuXG5AaW1wb3J0ICcuLi8uLi8uLi9ub2RlX21vZHVsZXMvQGZ1bGxjYWxlbmRhci9jb3JlL21haW4uY3NzJztcbkBpbXBvcnQgJy4uLy4uLy4uL25vZGVfbW9kdWxlcy9AZnVsbGNhbGVuZGFyL3RpbWVsaW5lL21haW4uY3NzJztcbkBpbXBvcnQgJy4uLy4uLy4uL25vZGVfbW9kdWxlcy9AZnVsbGNhbGVuZGFyL3Jlc291cmNlLXRpbWVsaW5lL21haW4uY3NzJztcbkBpbXBvcnQgJy4vY29tcG9uZW50cy9yb29tZm9ybS5zY3NzJztcblxuLy8gQFRPRE8gVGhpcyBpcyBhIHJlZCBjb2xvciB2YXJpYWJsZSBleGFtcGxlLiBSZW1vdmUgZm9yIHByb2R1Y3Rpb24gXG4kY29sb3I6IHdoaXRlO1xuXG4vLyBAVE9ETyBUaGlzIGlzIGFuIGV4YW1wbGUgaG93IHRvIHVzZSB2YXJpYWJsZXMuIFJlbW92ZSBmb3IgcHJvZHVjdGlvbi5cbmJvZHkge1xuICAgIGJhY2tncm91bmQtY29sb3I6ICRjb2xvcjtcbn1cblxuIiwiLy8gQFRPRE8gVGhpcyBpcyBhbiBleGFtcGxlIGZpbGUuIFJlbW92ZSBmb3IgcHJvZHVjdGlvblxuYm9keSB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogYXF1YTtcbn0iLCIuam9lZWUtYm9va2luZy1yb29tLWJnLW1vZGFsIHtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgwLCAwLCAwLCAwLjYpO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB0b3A6IDA7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgIHotaW5kZXg6IDEwMDA7XG4gICAgZGlzcGxheTogbm9uZTtcbn1cblxuLmpvZWVlLWJvb2tpbmctcm9vbS1tb2RhbC1mb3JtLWNvbnRlbnQge1xuICAgIHdpZHRoOiA1MDBweDtcbiAgICBtYXgtd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiA0MDBweDtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiB3aGl0ZTtcbiAgICBib3JkZXItcmFkaXVzOiA0cHg7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIHBhZGRpbmc6IDIwcHg7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIG92ZXJmbG93OiBoaWRkZW47XG59XG5cbi5qb2VlZS1ib29raW5nLXJvb20tZm9ybS1jb250cm9sIHtcbiAgICBtYXJnaW4tYm90dG9tOiAxMHB4O1xuICAgIHBhZGRpbmctYm90dG9tOiAyMHB4O1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbn1cblxuLmpvZWVlLWJvb2tpbmctcm9vbS1mb3JtLWNvbnRyb2wgaW5wdXQge1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGJvcmRlcjogMnB4IHNvbGlkICNmMGYwZjA7XG4gICAgYm9yZGVyLXJhZGl1czogNXB4O1xuICAgIGRpc3BsYXk6IGJsb2NrO1xufVxuXG4uam9lZWUtYm9va2luZy1yb29tLWZvcm0tY29udHJvbCBpIHtcbiAgICB2aXNpYmlsaXR5OiBoaWRkZW47XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHRvcDogN3B4O1xuICAgIHJpZ2h0OiAxMHB4O1xufVxuXG4uam9lZWUtYm9va2luZy1yb29tLWZvcm0tY29udHJvbC5lcnJvciBpLmRhc2hpY29ucy13YXJuaW5nIHtcbiAgICBjb2xvcjogI2U3NGMzYztcbiAgICB2aXNpYmlsaXR5OiB2aXNpYmxlO1xufVxuXG4uam9lZWUtYm9va2luZy1yb29tLWZvcm0tY29udHJvbC5zdWNjZXNzIGkuZGFzaGljb25zLXllcy1hbHQge1xuICAgIGNvbG9yOiAjMmVjYzcxO1xuICAgIHZpc2liaWxpdHk6IHZpc2libGU7XG59XG5cbi5qb2VlZS1ib29raW5nLXJvb20tZm9ybS1jb250cm9sIHNtYWxsIHtcbiAgICBjb2xvcjogI2U3NGMzYztcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgZmxvYXQ6IGxlZnQ7XG4gICAgYm90dG9tOiAwO1xuICAgIGxlZnQ6IDVweDtcbiAgICB2aXNpYmlsaXR5OiBoaWRkZW47XG59XG5cbi5qb2VlZS1ib29raW5nLXJvb20tZm9ybS1jb250cm9sLmVycm9yIHNtYWxsIHtcbiAgICB2aXNpYmlsaXR5OiB2aXNpYmxlO1xufVxuXG4uam9lZWUtYm9va2luZy1idXR0b24ge1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIG1hcmdpbjogMTVweDtcbn1cblxuLmpvZWVlLWJvb2tpbmctcm9vbS1jbG9zZSB7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHRvcDogN3B4O1xuICAgIHJpZ2h0OiAxNHB4O1xuICAgIGZvbnQtc2l6ZTogNDJweDtcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZSg0NWRlZyk7XG4gICAgY3Vyc29yOiBwb2ludGVyO1xuXG59XG5cbnNtYWxsIHtcbiAgICBtYXJnaW46IDBweDtcbn1cblxuI2pvZWVlLWJvb2tpbmctcm9vbS1zdWJtaXQge1xuICAgIGJhY2tncm91bmQtY29sb3I6ICMyZWNjNzE7XG4gICAgY29sb3I6IHdoaXRlO1xuICAgIGN1cnNvcjogcG9pbnRlcjtcbiAgICAmOmhvdmVyIHtcbiAgICAgICAgYmFja2dyb3VuZDogIzQzQTA0NztcbiAgICAgICAgdHJhbnNpdGlvbjogYmFja2dyb3VuZC1jb2xvciAwLjNzIGVhc2UtaW4tb3V0O1xuICAgIH1cbn1cblxuXG5cbi5qb2VlZS1ib29raW5nLXJvb20tY2FuY2VsLWJ0biB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogI2U3NGMzYztcbiAgICBjb2xvcjogd2hpdGU7XG4gICAgY3Vyc29yOiBwb2ludGVyO1xuICAgICY6aG92ZXIge1xuICAgICAgICBiYWNrZ3JvdW5kOiBkYXJrcmVkO1xuICAgICAgICB0cmFuc2l0aW9uOiBiYWNrZ3JvdW5kLWNvbG9yIDAuM3MgZWFzZS1pbi1vdXQ7XG4gICAgfVxufVxuXG4uam9lZWUtYm9va2luZy1yb29tLWRlbGV0ZS1idG4ge1xuICAgIHZpc2liaWxpdHk6IGhpZGRlbjtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZTc0YzNjO1xuICAgIGNvbG9yOiB3aGl0ZTtcbiAgICBjdXJzb3I6IHBvaW50ZXI7XG4gICAgJjpob3ZlciB7XG4gICAgICAgIGJhY2tncm91bmQ6IGRhcmtyZWQ7XG4gICAgICAgIHRyYW5zaXRpb246IGJhY2tncm91bmQtY29sb3IgMC4zcyBlYXNlLWluLW91dDtcbiAgICB9XG59XG5cbi5qb2VlZS1ib29raW5nLXJvb20tc3VjY2VzcyB7XG4gICAgdmlzaWJpbGl0eTogaGlkZGVuO1xuICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbiAgICBjb2xvcjogIzJlY2M3MTtcbn1cblxuLmpvZWVlLWJvb2tpbmctcm9vbS1zdWNjZXNzLnN1Y2Nlc3Mge1xuICAgIHZpc2liaWxpdHk6IHZpc2libGU7XG59XG5cbi5qb2VlZS1ib29raW5nLXJvb20tZXJyb3Ige1xuICAgIHZpc2liaWxpdHk6IGhpZGRlbjtcbiAgICBmb250LXNpemU6IDE0cHg7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAgY29sb3I6ICNlNzRjM2M7XG59XG5cbi5qb2VlZS1ib29raW5nLXJvb20tZXJyb3IuZXJyb3Ige1xuICAgIHZpc2liaWxpdHk6IHZpc2libGU7XG59XG4iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7Ozs7R0FJRztBQUlILE9BQU8sQ0FBUCxzREFBTztBQUNQLE9BQU8sQ0FBUCwwREFBTztBQUNQLE9BQU8sQ0FBUCxtRUFBTztBQ1RQLEFBQUEsSUFBSSxDQUFDO0VBQ0QsZ0JBQWdCLEVBQUUsSUFBSSxHQUN6Qjs7QUNIRCxBQUFBLDRCQUE0QixDQUFDO0VBQ3pCLEtBQUssRUFBRSxJQUFJO0VBQ1gsTUFBTSxFQUFFLElBQUk7RUFDWixnQkFBZ0IsRUFBRSxrQkFBa0I7RUFDcEMsUUFBUSxFQUFFLFFBQVE7RUFDbEIsR0FBRyxFQUFFLENBQUM7RUFDTixPQUFPLEVBQUUsSUFBSTtFQUNiLGVBQWUsRUFBRSxNQUFNO0VBQ3ZCLFdBQVcsRUFBRSxNQUFNO0VBQ25CLE9BQU8sRUFBRSxJQUFJO0VBQ2IsT0FBTyxFQUFFLElBQUksR0FDaEI7O0FBRUQsQUFBQSxzQ0FBc0MsQ0FBQztFQUNuQyxLQUFLLEVBQUUsS0FBSztFQUNaLFNBQVMsRUFBRSxJQUFJO0VBQ2YsTUFBTSxFQUFFLEtBQUs7RUFDYixnQkFBZ0IsRUFBRSxLQUFLO0VBQ3ZCLGFBQWEsRUFBRSxHQUFHO0VBQ2xCLFVBQVUsRUFBRSxNQUFNO0VBQ2xCLE9BQU8sRUFBRSxJQUFJO0VBQ2IsUUFBUSxFQUFFLFFBQVE7RUFDbEIsUUFBUSxFQUFFLE1BQU0sR0FDbkI7O0FBRUQsQUFBQSxnQ0FBZ0MsQ0FBQztFQUM3QixhQUFhLEVBQUUsSUFBSTtFQUNuQixjQUFjLEVBQUUsSUFBSTtFQUNwQixRQUFRLEVBQUUsUUFBUSxHQUNyQjs7QUFFRCxBQUFBLGdDQUFnQyxDQUFDLEtBQUssQ0FBQztFQUNuQyxLQUFLLEVBQUUsSUFBSTtFQUNYLE1BQU0sRUFBRSxpQkFBaUI7RUFDekIsYUFBYSxFQUFFLEdBQUc7RUFDbEIsT0FBTyxFQUFFLEtBQUssR0FDakI7O0FBRUQsQUFBQSxnQ0FBZ0MsQ0FBQyxDQUFDLENBQUM7RUFDL0IsVUFBVSxFQUFFLE1BQU07RUFDbEIsUUFBUSxFQUFFLFFBQVE7RUFDbEIsR0FBRyxFQUFFLEdBQUc7RUFDUixLQUFLLEVBQUUsSUFBSSxHQUNkOztBQUVELEFBQUEsZ0NBQWdDLEFBQUEsTUFBTSxDQUFDLENBQUMsQUFBQSxrQkFBa0IsQ0FBQztFQUN2RCxLQUFLLEVBQUUsT0FBTztFQUNkLFVBQVUsRUFBRSxPQUFPLEdBQ3RCOztBQUVELEFBQUEsZ0NBQWdDLEFBQUEsUUFBUSxDQUFDLENBQUMsQUFBQSxrQkFBa0IsQ0FBQztFQUN6RCxLQUFLLEVBQUUsT0FBTztFQUNkLFVBQVUsRUFBRSxPQUFPLEdBQ3RCOztBQUVELEFBQUEsZ0NBQWdDLENBQUMsS0FBSyxDQUFDO0VBQ25DLEtBQUssRUFBRSxPQUFPO0VBQ2QsUUFBUSxFQUFFLFFBQVE7RUFDbEIsS0FBSyxFQUFFLElBQUk7RUFDWCxNQUFNLEVBQUUsQ0FBQztFQUNULElBQUksRUFBRSxHQUFHO0VBQ1QsVUFBVSxFQUFFLE1BQU0sR0FDckI7O0FBRUQsQUFBQSxnQ0FBZ0MsQUFBQSxNQUFNLENBQUMsS0FBSyxDQUFDO0VBQ3pDLFVBQVUsRUFBRSxPQUFPLEdBQ3RCOztBQUVELEFBQUEscUJBQXFCLENBQUM7RUFDbEIsT0FBTyxFQUFFLEtBQUs7RUFDZCxNQUFNLEVBQUUsSUFBSSxHQUNmOztBQUVELEFBQUEseUJBQXlCLENBQUM7RUFDdEIsUUFBUSxFQUFFLFFBQVE7RUFDbEIsR0FBRyxFQUFFLEdBQUc7RUFDUixLQUFLLEVBQUUsSUFBSTtFQUNYLFNBQVMsRUFBRSxJQUFJO0VBQ2YsU0FBUyxFQUFFLGFBQWE7RUFDeEIsTUFBTSxFQUFFLE9BQU8sR0FFbEI7O0FBRUQsQUFBQSxLQUFLLENBQUM7RUFDRixNQUFNLEVBQUUsR0FBRyxHQUNkOztBQUVELEFBQUEsMEJBQTBCLENBQUM7RUFDdkIsZ0JBQWdCLEVBQUUsT0FBTztFQUN6QixLQUFLLEVBQUUsS0FBSztFQUNaLE1BQU0sRUFBRSxPQUFPLEdBS2xCO0VBUkQsQUFJSSwwQkFKc0IsQUFJckIsTUFBTSxDQUFDO0lBQ0osVUFBVSxFQUFFLE9BQU87SUFDbkIsVUFBVSxFQUFFLGlDQUFpQyxHQUNoRDs7QUFLTCxBQUFBLDhCQUE4QixDQUFDO0VBQzNCLGdCQUFnQixFQUFFLE9BQU87RUFDekIsS0FBSyxFQUFFLEtBQUs7RUFDWixNQUFNLEVBQUUsT0FBTyxHQUtsQjtFQVJELEFBSUksOEJBSjBCLEFBSXpCLE1BQU0sQ0FBQztJQUNKLFVBQVUsRUFBRSxPQUFPO0lBQ25CLFVBQVUsRUFBRSxpQ0FBaUMsR0FDaEQ7O0FBR0wsQUFBQSw4QkFBOEIsQ0FBQztFQUMzQixVQUFVLEVBQUUsTUFBTTtFQUNsQixnQkFBZ0IsRUFBRSxPQUFPO0VBQ3pCLEtBQUssRUFBRSxLQUFLO0VBQ1osTUFBTSxFQUFFLE9BQU8sR0FLbEI7RUFURCxBQUtJLDhCQUwwQixBQUt6QixNQUFNLENBQUM7SUFDSixVQUFVLEVBQUUsT0FBTztJQUNuQixVQUFVLEVBQUUsaUNBQWlDLEdBQ2hEOztBQUdMLEFBQUEsMkJBQTJCLENBQUM7RUFDeEIsVUFBVSxFQUFFLE1BQU07RUFDbEIsU0FBUyxFQUFFLElBQUk7RUFDZixXQUFXLEVBQUUsSUFBSTtFQUNqQixLQUFLLEVBQUUsT0FBTyxHQUNqQjs7QUFFRCxBQUFBLDJCQUEyQixBQUFBLFFBQVEsQ0FBQztFQUNoQyxVQUFVLEVBQUUsT0FBTyxHQUN0Qjs7QUFFRCxBQUFBLHlCQUF5QixDQUFDO0VBQ3RCLFVBQVUsRUFBRSxNQUFNO0VBQ2xCLFNBQVMsRUFBRSxJQUFJO0VBQ2YsV0FBVyxFQUFFLElBQUk7RUFDakIsS0FBSyxFQUFFLE9BQU8sR0FDakI7O0FBRUQsQUFBQSx5QkFBeUIsQUFBQSxNQUFNLENBQUM7RUFDNUIsVUFBVSxFQUFFLE9BQU8sR0FDdEI7O0FGM0hELEFBQUEsSUFBSSxDQUFDO0VBQ0QsZ0JBQWdCLEVBSlosS0FBSyxHQUtaIn0= */
