.joeee-booking-extras-content {
    display: flex;
    align-items: center;
}

.joeee-booking-extras-content-window {
    padding: 20px;
    width: 580px;
    max-width: 100%;
    background-color: white;
    border-radius: 4px;
}

.joeee-booking-extras-content-window table {
    table-layout: fixed;
}

.joeee-booking-extras-content-window td {
    text-align: center;
}
