.joeee-booking-reservation-bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.joeee-booking-reservation-modal-form-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.joeee-booking-reservation-modal-form-content-left {
    width: 500px;
    max-width: 100%;
    background-color: white;
    border-radius: 4px 0 0 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}



.joeee-booking-reservation-modal-form-content-right {
    width: 500px;
    max-width: 100%;
    background-color: white;
    border-radius: 0 4px 4px 0;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.joeee-booking-reservation-form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.joeee-booking-reservation-form-control label {
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
}

.joeee-booking-reservation-form-control input {
    width: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: float;
}

.joeee-booking-reservation-form-control.right {
    margin-top: 72px;
}

.joeee-booking-reservation-form-control i {
    visibility: hidden;
    position: absolute;
    top: 23px;
    right: 10px;
}

.joeee-booking-reservation-form-control.error i.dashicons-warning {
    color: #e74c3c;
    visibility: visible;
}

.joeee-booking-reservation-form-control.success i.dashicons-yes-alt {
    color: #2ecc71;
    visibility: visible;
}

.joeee-booking-reservation-form-control small {
    color: #e74c3c;
    position: relative;
    float: left;
    bottom: 0;
    left: 5px;
    visibility: hidden;
}

.joeee-booking-reservation-form-control.error small {
    visibility: visible;
}

.joeee-booking-reservation-close {
    position: absolute;
    top: 7px;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;

}

#joeee-booking-reservation-submit.close {
    visibility: hidden;
}

#joeee-booking-reservation-form-submit-modify {
    visibility: hidden;
}

#joeee-booking-reservation-form-submit-modify.open {
    visibility: visible;
} 

.joeee-booking-reservation-delete-btn {
    visibility: hidden;
}

.joeee-booking-reservation-delete-btn.open {
    visibility: visible;
}

.joeee-booking-reservation-success {
    visibility: hidden;
    margin: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #2ecc71;
}

.joeee-booking-reservation-success.success {
    visibility: visible;
}

.joeee-booking-reservation-error {
    visibility: hidden;
    margin: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #e74c3c;
}

.joeee-booking-reservation-error.error {
    visibility: visible;
}