.joeee-booking-room-bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.joeee-booking-room-modal-form-content {
    width: 500px;
    max-width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.joeee-booking-room-form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.joeee-booking-room-form-control label {
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
}

.joeee-booking-room-form-control input {
    width: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
}

.joeee-booking-room-form-control i {
    visibility: hidden;
    position: absolute;
    top: 23px;
    right: 10px;
}

.joeee-booking-room-form-control.error i.dashicons-warning {
    color: #e74c3c;
    visibility: visible;
}

.joeee-booking-room-form-control.success i.dashicons-yes-alt {
    color: #2ecc71;
    visibility: visible;
}

.joeee-booking-room-form-control small {
    color: #e74c3c;
    position: relative;
    float: left;
    bottom: 0;
    left: 5px;
    visibility: hidden;
}

.joeee-booking-room-form-control.error small {
    visibility: visible;
}

.joeee-booking-button {
    display: block;
    margin: 15px;
}

.joeee-booking-room-close {
    position: absolute;
    top: 7px;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;

}

small {
    margin: 0px;
}

#joeee-booking-room-submit {
    position: absolute;
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    &:hover {
        background: #43A047;
        transition: background-color 0.3s ease-in-out;
    }
}

#joeee-booking-room-submit.close {
    visibility: hidden;
}

#joeee-booking-room-form-submit-modify {
    visibility: hidden;
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    &:hover {
        background: #43A047;
        transition: background-color 0.3s ease-in-out;
    }
}

#joeee-booking-room-form-submit-modify.open {
    visibility: visible;
} 


.joeee-booking-room-cancel-btn {
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    &:hover {
        background: darkred;
        transition: background-color 0.3s ease-in-out;
    }
}

.joeee-booking-room-delete-btn {
    visibility: hidden;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    &:hover {
        background: darkred;
        transition: background-color 0.3s ease-in-out;
    }
}

.joeee-booking-room-delete-btn.open {
    visibility: visible;
}

.joeee-booking-room-success {
    visibility: hidden;
    margin: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #2ecc71;
}

.joeee-booking-room-success.success {
    visibility: visible;
}

.joeee-booking-room-error {
    visibility: hidden;
    margin: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #e74c3c;
}

.joeee-booking-room-error.error {
    visibility: visible;
}
