.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    max-height: 100%;
    top: 0;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    overflow: scroll;
}

@media (min-width: 600px) {
    .Modal {
        top: 10%;
        width: 500px;
        max-height: 80%;
        left: calc(50% - 250px);
    }
}