.Inputs {
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    border-bottom-width: 2px;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    font-family: inherit;
}

.Button {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .Inputs {
      display: inline-block;
      width: 150px;
      line-height: 1.5;
      height: 100%;

    }

    .Button {
        display: inline-block;
        width: 150px;
    }
    
  }