.Reservation {
    padding-bottom: 0px;
}

.Reservation.Confirmed {
    background-color: rgb(183, 255, 189);
}

.Reservation.Pending {
    background-color: rgb(255, 255, 176);
}

.Reservation.Canceled {
    background-color: red;
}

.ButtonPosition {
    align-content: center;
}

.Verified {
    position: absolute;
    right: 40px;
    top: 35%;
}

.Dates {
    font-size: large;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .ButtonPosition {
        position: absolute;
        bottom: 5px;
        right: 5px;
        
    }

    .Dates {
        font-size: larger;
        margin-top: 5px;
        margin-bottom: 15px;
        text-align: center;
    }

    .Reservation {
        margin-bottom: 5px;
    }
}

