.Reservation {

}

.Reservation.Confirmed {
    background-color: rgb(183, 255, 189);
}

.Reservation.Pending {
    background-color: rgb(255, 255, 176);
}

.Reservation.Canceled {
    background-color: red;
}